div.news-container {
	margin-left: 20%;
	margin-right: 20%;
}
div.news-container p {
	margin-top: 5em;
	color: #707070;
	text-transform: uppercase;
}
div.news-container h1 {
	color: #404040;
	font-size: 4em;
	line-height: 0.9;
	margin-top: 0;
	text-transform: uppercase;
}
@media (max-width: 1300px) {
    div.news-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}