div.home > p:last-of-type {
	display: none;
}
div.home > p:last-of-type span {
    color: #3A8013;
    font-weight: bold;
}
@media (max-width: 800px) {
	div.home > p:last-of-type {
		display: block;
    	text-align: center;
        font-weight: bold;
    	background-color: #f9fcf3;
    	z-index: 1;
    	position: fixed;
    	bottom: 0;
    	width: 100%;
    	padding-top: 10px;
    	padding-bottom: 10px;
        margin: 0;
	}
    div.nav-left p:last-of-type {
        display: none;
    }
}
